
a {
    color: darkblue;
}

img {
    width: 100%;
}

.platinum {
    font-size: 28px;
    max-width: 90vw;
}

.gold {
    font-size: 24px;
    max-width: 23vw;

    @include respond(tab-land) {
        max-width: 30vw;
    }
}

.silver {
    font-size: 20px;
    max-width: 14vw;

    @include respond(tab-land) {
        max-width: 20vw;
    }
}