.app-sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;

  max-width: 75%;

  @include respond(tab-land) {
    max-width: 100%;
  }

  & > cmp-sponsor {
    margin-top: 2rem;
  }
}
