.cmp-thank-you {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3rem 0;
}

.pluralsight {
  max-width: 20rem;
}
